/* Reset margins & paddings */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0d0d0d; 
  color:white;
  // match your dark theme
  overflow: hidden;    // prevent scrollbars
}

* {
  box-sizing: border-box;
}
